@font-face {
  src: url('./assets/DanaPro/');
  font-family: iranSans;
}

.iranSans {
  font-family: iranSans;
}

.dana {
  font-family: dana;
}

.iranSansBold {
  font-family: iranSansBold;
}

.er {
  color: rgb(255, 119, 119);
  font-family: iranSans;
  font-size: 13px;
  font-weight: 700;
}

.inputSortNews:checked + .labelSortNews{
  background-color: rgb(74, 74, 255);
  color: white;
}
