@font-face {
    font-family: iranSans;
    src: url('./assets/IranSansX(Pro)/iransansX family/IRANSansX-Light.ttf')
}

@font-face {
    font-family: iranSansBold;
    src: url('./assets/IranSansX(Pro)/iransansX family/IRANSansX-DemiBold.ttf')
}


@font-face {
    font-family: dana;
    src: url('./assets/DanaPro/')
}


.iranSans {
    font-family: iranSans;
}

.dana {
    font-family: dana;
}

.iranSansBold {
    font-family: iranSansBold;
}